.hide {
    display: none;
}

.content {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 400px));
    column-gap: 1em;
    row-gap: 3em;
    justify-content: space-between;
}

@media (min-width: 500px) and (max-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 499px) {
    .content {
        grid-template-columns: 1fr;
    }
}