<div class="filters">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <button type="button" id="dropdown-button" class="nav-button" (click)="toggleDropdown();" aria-expanded="false">
            <span class="button-text">Arrondissements</span>
            <span id="dropdown-arrow" class="dropdown-arrow"></span>
        </button>
        <div id="arrondissements-dropdown" class="checkbox-dropdown-container hide">
            <div class="checkbox-dropdown">
                <div class="option-wrapper" *ngFor="let arrondissement of dropdownOptions">
                    <div id="option-wrapper-{{ arrondissement }}" class="l-padding-3">
                        <label class="checkbox-container" for="checkbox-{{ arrondissement }}">
                            <span class="h3-primary checkbox-label">{{ arrondissement }}</span>
                            <input type="checkbox" #checkbox id="checkbox-{{ arrondissement }}" [formControlName]="arrondissement" (change)="toggleSelectionBorder(arrondissement, checkbox.checked);">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-button">Appliquer</button>
        </div>
    </form>
</div>